.prompt-history {
  color: #98c379;
  display: flex;
}

.prompt-history .prompt {
  color: #c71616;
  margin-right: 0.5rem;
  font-weight: bold;
}

.output {
  font-size: 1em;
  line-height: 1.25em;
  color: #98c379;
}

.output table {
  max-width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

.output table th,
.output table td {
  text-align: center;
  padding: 0.5em;
}

.output img {
  max-width: 95%;
  max-height: 300px;
  border-radius: 1em;
}

.output a {
  color: inherit;
  text-decoration: underline;
}

.output a:hover {
  opacity: 0.8;
}

.output pre {
  font-family: inherit;
}

.output code {
  font-family: inherit;
}
